﻿@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Mã sinh viên: 2310900098</p>
<p>Họ và tên: Nguyễn Đức Thành</p>
<p>Email: dthann2005@gmail.com</p>
<p>Ngày sinh: 03/04/2005</p>
<p>Lớp: K23CNT2</p>