@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>

    <p>Mã sinh viên: 2310900098</p>
    <p>Họ và tên: Nguyễn Đức Thành</p>
    <p>Email: ducthanhskg@gmail.com</p>
    <p>Điện thoại: <a href="tel:0367907165">0367907165</a></p>
    <p>Lớp: K23CNT2</p>
</div>
